.first-screen {
	padding-top: 292px;
	background: url(../images/bg-first-screen.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 100vh;
	& .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
	}
	&__description {
		margin-bottom: 92px;
		color: #ffffff;
		text-align: center;
		font-weight: 400;
		font-size: 25px;
		font-family: ffo;
		line-height: 23px;
	}
	&__button {
		margin-bottom: 149px;
	}

	&__layer {
		position: absolute;
		bottom: -100px;
		left: 0;
		width: 100%;
		min-width: 1400px;
		z-index: 1;
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
}
